*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-whapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.instagram-img img{
    height: 100%;
    border-radius: 20%;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34ren;
}

.group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 15px;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19ren;
    margin-bottom: 10px;
}

.instagram-logo{
    height: 3ren;
    width: 50%;
}

.profile-photo img{
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 30%;
    margin-right: -30%;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 5px;
}

.instagram-login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.app-download{
    height: 3rem;
    background-size: cover;
    margin: 5px;
}

.app-download:nth-child(1){
    width: 10.2rem;
    background-image: url('./img/app_store.jpeg');
}

.app-download:nth-child(2){
    width: 9rem;
    background-image: url('./img/google_play.png');
}

@media (max-width: 1024px){

    .instagram-whapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: white;
    }

    .group{
        border: 1px solid lightgray;
    }
    .instagram-img{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}